<ng-template #content let-modal>
  <app-modal-image
    [dogImageUrl]="selectedImageUrl"
    [activeModal]="modal"
  ></app-modal-image>
</ng-template>

<div class="gallery-container">
  <p class="text-center kolor-tekstu">
    Rasa: <strong>{{ breedName | uppercase }}</strong>
    <span *ngIf="subBreed"
      ><br />Podrasa: <strong>{{ subBreed | lowercase }}</strong></span
    >
  </p>
  <div class="d-flex">
    <ngb-pagination
      [collectionSize]="dogImageUrl.length"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [maxSize]="maxSize"
      [boundaryLinks]="false"
      [directionLinks]="true"
      [rotate]="false"
      (pageChange)="changePage($event)"
      class="pagination-custom"
    >
    </ngb-pagination>
  </div>
  <p class="total-images text-center font-italic kolor-tekstu">
    Wyświetlane zdjęcia od {{ (currentPage - 1) * itemsPerPage + 1 }} do
    {{ Math.min(currentPage * itemsPerPage, dogImageUrl.length) }} z
    {{ dogImageUrl.length }}
  </p>

  <div *ngIf="dogImageUrl" class="container">
    <div class="row">
      <ng-container *ngFor="let imageUrl of dogImageUrl | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage; index as i">
        <img [src]="imageUrl" alt="Zdjęcie psa" class="dog-image img-fluid" (click)="openModal(imageUrl)"/>
      </ng-container>
    </div>
  </div>
</div>