.dog-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
}

.d-flex {
  justify-content: center;
}

.container {
  justify-content: center;
}

.gallery-container {
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 2rem;
}

.gallery-container::-webkit-scrollbar {
  width: 0.5rem;
}

.gallery-container::-webkit-scrollbar-track {
  background-color: var(--path-background-color);
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color);
}

/* Domyślny rozmiar dla większych niż sm */
.pagination-custom {
    font-size: 1rem;
    max-width: 100%;
  }
  
  .pagination-custom .page-link {
    padding: 0.5rem 0.75rem;
    height: auto;
  }
  
  /* Zmniejszony rozmiar dla sm */
  @media (max-width: 767.98px) {
    .pagination-custom {
      font-size: 0.8rem;
      max-width: 100%;
    }
  
    .pagination-custom .page-link {
      padding: 0 0;
      height: auto;
    }
  }
  
  /* Zmniejszony rozmiar dla extra-small */
  @media (max-width: 575.98px) {
    .pagination-custom {
      font-size: 0.4rem;
      max-width: 100%;
    }
  
    .pagination-custom .page-link {
      padding: 0 0;
      height: auto;
    }
  }