/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --primary-color: #007bff;
    --path-background-color: #f1f1f1;
    --dark-color: #0056b3;
  }

  
.kolor-tekstu{
    color: #0056b3;
}