ul {
  list-style-type: none;
  padding: 0;
}

.menu-container {
  padding-left: 1.45rem;
  padding-top: 2rem;
}

.subBred {
  padding-left: 1rem;
}

.szukaj{
    margin-top: 0.5rem;
    border-color: #007bff;
}

.menu-container::-webkit-scrollbar {
  width: 12px; /* Szerokość paska przewijania */
}

.menu-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Kolor tła ścieżki paska przewijania */
  border-radius: 10px; /* Zaokrąglenie krawędzi ścieżki paska przewijania */
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Kolor paska przewijania */
  border-radius: 10px; /* Zaokrąglenie krawędzi paska przewijania */
}

.menu-container::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Kolor paska przewijania podczas najechania */
}
