ul {
  list-style-type: none;
  padding: 0.1rem;
}

.menu-container {
  padding-left: 0;
  padding-top: 2rem;
}

.subBred {
  padding-left: 1.5rem;
}

.szukaj{
    margin-top: 0.5rem;
    border-color: var(--primary-color);
    width: 9rem;
}

.menu-container::-webkit-scrollbar {
  width: 12px; /* Szerokość paska przewijania */
}

.menu-container::-webkit-scrollbar-track {
  background-color: var(--path-background-color); /* Kolor tła ścieżki paska przewijania */
  border-radius: 10px; /* Zaokrąglenie krawędzi ścieżki paska przewijania */
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);  /* Kolor paska przewijania */
  border-radius: 10px; /* Zaokrąglenie krawędzi paska przewijania */
}

.menu-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color); /* Kolor paska przewijania podczas najechania */
}
